@for(empresas of EmpresaResponse; track EmpresaResponse) {

  <div class=" flex flex-col justify-between p-4 leading-normal border-8">
    <h5 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">{{empresas.id}}</h5>
    <h5 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">{{empresas.nome}}</h5>
    <h5 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">{{empresas.cnpj}}</h5>
    <h5 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">{{empresas.email}}</h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"></p>
  </div>
  }
