<!-- Botão para abrir o modal -->
<button (click)="abrirModal()" data-modal-target="defaultModal" data-modal-toggle="defaultModal" id="openModalBtn"
  class="bg-blue-500 text-white px-4 py-2 rounded-lg">
  Abrir Modal
</button>

<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed inset-0 z-50 hidden overflow-y-auto">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <div class="relative bg-white rounded-lg shadow-lg">
      <!-- Header -->
      <div class="flex justify-between items-center p-4">
        <h3 class="text-xl font-semibold text-gray-900">Filtro de Busca</h3>
        <button data-modal-hide="defaultModal" type="button" id="closeModalBtn"
          class="text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg p-1.5 ml-auto inline-flex items-center">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
              d="M10 9a1 1 0 011 1v8a1 1 0 11-2 0v-8a1 1 0 011-1zm5 1a1 1 0 01-1-1h-8a1 1 0 010-2h8a1 1 0 011 1v1zm-5-7a1 1 0 011 1v1h-2V4a1 1 0 011-1z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Fechar Modal</span>
        </button>
      </div>

      <!-- Corpo -->
      <form class="max-w-lg mx-auto" (ngSubmit)="buscar()">
        <div class="flex">
          <select (change)="onFilterChange($event)"
            class="inline-flex w-full px-4 py-2 bg-white border border-gray-300 rounded-lg">
            <option value="nome">Nome</option>
            <option value="idade">Idade</option>
          </select>

          <div class="relative w-full">
            @if (filtroSelecionado === 'nome') {
            <input type="search" id="search-dropdown" [(ngModel)]="filtroNome" name="filtroNome"
              class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Buscar por Nome" required />
            }

            @if (filtroSelecionado === 'idade') {
            <input type="number" id="search-dropdown" [(ngModel)]="filtroIdade" name="filtroIdade"
              class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Buscar por Idade" required />
            }

            <button type="submit"
              class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
              <span class="sr-only">Search</span>
            </button>
          </div>
        </div>
      </form>

      <!-- Tabela de Resultados -->
      @if (resultado.length > 0) {
      <div class="mt-4">
        <table class="table-auto w-full">
          <thead>
            <tr>
              <th class="px-4 py-2">ID</th>
              <th class="px-4 py-2">Nome</th>
              @if (filtroSelecionado === 'idade') {
              <th class="px-4 py-2">Idade</th>
              }
            </tr>
          </thead>
          <tbody>
            @for (item of resultado; track item.id) {
            <tr>
              <td class="border px-4 py-2">{{ item.id }}</td>
              <td class="border px-4 py-2">{{ item.nome }}</td>
              @if (filtroSelecionado === 'idade') {
              <td class="border px-4 py-2">{{ item.idade }}</td>
              }
            </tr>
            }
          </tbody>
        </table>
      </div>
      } @else {
      <div class="mt-4 text-center text-gray-500">
        <p>Nenhum resultado encontrado na busca.</p>
      </div>
      }

      <!-- Footer -->
      <div class="flex items-center p-4">
        <button data-modal-hide="defaultModal" id="closeModalBtnFooter"
          class="bg-gray-200 px-4 py-2 rounded-lg text-sm">Fechar</button>
      </div>
    </div>
  </div>
</div>
